/* AKILA CODE */
/* HEADER */
@media (max-width: 320px){
	.title2 p {
	    font-family: Roboto;
	    font-size: 12px !important;
	    width: 215px !important;
	}
	.building_img {
    	width: 48px !important;
	}
	form {
		text-align: left;
	}
}
@media (max-width: 480px){
	.mobile_title{
		font-size: 20px;
		font-family: Roboto;
		/*line-height: 1.5;*/
		margin-top: 10px;
		font-weight: bold;
		text-align: center;
	}	
	form {
		text-align: left;
	}
	.navbar-brand {
	    float: left;
	    font-size: 18px;
	    height: 112px !important;
	    line-height: 20px;
	    padding: 0px ! important;
	}
	.navbar-toggle{
		margin-top: 66px !important;
	}
	.nav-justified {
 	   margin-left: 60px !important;
       width: 65% !important;
	}
	.logo_img{
		height: auto;
        width: 60px;
    }
    .building_img{
    	width: 50px;
    }
	.title2 p {
	    font-family: Roboto;
	    font-size: 14px;
	    width: 235px;
	}
	.title_nopad {
		padding: 0px !important;
	}
}
@media (min-width: 481px) and (max-width: 767px){
	.logo_img{
		height: auto;
        width: 78px;
    }
    .mobile_title{
		font-size: 20px;
		font-family: Roboto;
		margin-top: 10px;
		font-weight: bold;
		text-align: center;
	}
	.nav-justified {
 	   margin-left: 60px !important;
       width: 65% !important;
	}
	 .building_img{
    	width: 55px;
    }	
	.title2 p {
	    font-size: 15px;
	    margin-top: 10px;
	    width: 318px;
	}
	
}
@media (min-width: 768px) and (max-width: 991px)  { 
	.logo_img{
		height: auto;
        width: 60px;
    }
    .header_title{
    	margin-left: 15px !important;
    }
	.nav-justified {
		margin-left: 27px !important;
    	width: 78% !important;
	}
	.navbar-collapse h2 {
		font-size: 29px;
	}
	.language_select {
 	   margin: 25px 0 0;
	}
	.navbar-collapse {
    	margin-left: 55px;
	}
}
@media (min-width: 992px) and (max-width: 1199px){
	.header_title{
    	margin-left: 115px !important;
    }
	.nav-justified {
	    margin-left: 125px !important;
	    width: 60% !important;
	}
} 
/* FOOTER */
@media (max-width: 480px){
	.menu_footer {
    	margin-left: -60px;
    }
    .menu_footer li{
    	float: none;
    	margin: 0px;
    	padding: 10px 10px;
    }
    .menu_footer a {
    	font-size: 14px;
    }	
}
@media (min-width: 481px) and (max-width: 767px){
	.menu_footer {
    	margin-left: -60px;
     }
    .menu_footer li{
    	float: none;
    	margin: 0px;
    	padding: 10px 10px;
    }
    .menu_footer a {
    	font-size: 16px;
    }
}
@media (min-width: 768px) and (max-width: 991px)  { 
	.menu_footer {
		margin-left: 65px !important;
	}
	.menu_footer li {
		margin: 0px;
	}
	.menu_footer a {
        font-size: 20px;
    } 	
} 
@media (min-width: 992px) and (max-width: 1199px){
	.menu_footer {
    	margin-left: 90px;
    }
}   
	    
/* INDEX */		
@media (max-width: 480px){
	.frame_title {
	    color: #755e58;
	    font-family: Times New Roman;
	    font-size: 18px;
	    font-weight: bold;
	    left: 15px;
	    position: absolute;
	    top: 115px;
	    width: 95%;
    }
    .building_pic{
    	width: 50px;
    }
    .volume{
    	top: 225px;
    	left: 15px;
    }
    .volume h4{
		font-size: 14px;
	}
	.volume h5{
		font-size: 14px;
		margin: 0px !important;
	}
	.frame_footer {
        left: 10px;
    }
}
@media (min-width: 481px) and (max-width: 767px){ 
	.frame_title {
	    color: #755e58;
	    font-family: Times New Roman;
	    font-size: 20px;
	    font-weight: bold;
	    left: 15px;
	    position: absolute;
	    top: 115px;
	    width: 95%;
    }
    .building_pic{
    	width: 50px;
    }
    .volume{
    	top: 225px;
    	left: 50px;
    }
    .volume h4{
		font-size: 16px;
	}
	.volume h5{
		font-size: 16px;
		margin: 0px !important;
	}
	.frame_footer {
        left: 15px;
    }
}
@media (min-width: 768px) and (max-width: 991px){ 
	.frame_title {
	    color: #755e58;
	    font-family: Times New Roman;
	    font-size: 35px;
	    font-weight: bold;
	    left: 190px;
	    position: absolute;
	    top: 95px;
	    width: 50%;
	}
}
/* CONTENT */
@media (max-width: 320px){
	.content_subtitle{
		left: 50px !important;
		top: 150px !important;
	} 
	.volume_number {
        left: 95px !important;
    }
	.page_content table {
    	width: 235px !important;
	}
	.page_content {
    	font-size: 10px !important;
	}
	.table_content td {
	    border-bottom: 1px solid #ccc;
	    margin: 20px 10px;
	    padding: 20px 45px !important;
	}
	.content_footer {
        left: 22px !important;
        bottom: -755px;
        text-align: center;
        font-size: 14px;
        position:absolute;
	} 
}
@media(max-width: 480px){
	/* Frame- table content */
	.content_subtitle{
	    font-size: 18px;
	    left: 70px;
	    position: absolute;
	    top: 150px;
	}
	.volume_number {
	    font-size: 18px;
	    left: 122px;
	    position: absolute;
	    top: 215px;
	}
	.page_content table {
	    width: 280px;
	}
	.page_content {
	    font-size: 14px;
	    left: 30px;
	    position: absolute;
	    top: 300px;
	} 
	.content_footer {
        left: 35px;
        bottom: -755px;
        text-align: center;
        font-size: 14px;
        position:absolute;
	} 
}
@media (min-width: 481px) and (max-width: 767px){
	.content_subtitle{
	    font-size: 20px;
	    left: 235px;
	    position: absolute;
	    top: 150px;
	} 
	.volume_number {
	    font-size: 18px;
	    left: 275px;
	    position: absolute;
	    top: 215px;
	}
	.page_content table {
	    width: 340px;
	}
	.page_content {
	    font-size: 18px;
	    left: 180px;
	    position: absolute;
	    top: 300px;
	} 
	.content_footer {
        left: 15px;
        bottom: -755px;
        text-align: center;
        font-size: 14px;
	} 
	
}
@media (min-width: 768px) and (max-width: 991px)  { 
	/* frame-table contents */
	.content_subtitle{
		color: #755e58;
	    font-family: Times New Roman;
	    font-size: 36px;
	    left: 165px;
	    position: absolute;
	    top: 120px;
	}
	.volume_number {
	    left: 285px;
	    top: 245px;	
	}
	.page_content {
	    font-size: 20px;
	    left: 90px;
	}
	.page_content table {
 	   width: 540px;
	} 
	.content_footer {
        left: 180px;
        bottom: -765px;
	} 
}
@media (min-width: 992px) and (max-width: 1199px){
	.breadcrumb {
	    left: 480px;
	    position: relative;
	    top: 80px !important;
	    width: 50%;
    }
	.content_subtitle {
	  	left: 295px;
	    position: absolute;
	    top: 160px;
	 }
	 .volume_number{
	 	left: 395px;
	    position: absolute;
	    top: 260px;
	 }
	 .page_content {
	    left: 200px;
	    position: absolute;
	    top: 340px;
	}
	.content_footer {
	    bottom: -860px;
	    left: 315px;
	    position: absolute;
   }
}

/* ARTICLE */
@media (max-width: 480px){
	.form_download {
    	margin-left: 25px;
    }	 
}

/* LIST-ARTICLE */
@media (max-width: 480px){ 
	.form_download {
    	margin-left: 25px;
    }	  
}

/* VELPANDI CODE */

/*********Article Page************/
@media (max-width: 320px){
	.submit {
	    background-color: #ff931e;
	    border-radius: 20px;
	    font-size: 14px;
	    left: 5px;
	    top: 730px;
	    margin: 40px;
	    padding: 5px 50px;
	    position: absolute;
	    text-align: center;
	}
	
}
@media (max-width: 480px){
	.submit {
	    background-color: #ff931e;
	    border-radius: 20px;
	    font-size: 14px;
	    left: 25px;
	    top: 730px;
	    margin: 40px;
	    padding: 5px 50px;
	    position: absolute;
	    text-align: center;
	}
	.frame_subtitle {
	    color: #755e58;
	    font-family: Times New Roman;
	    font-size: 18px;
	    position: relative;
	    top: 100px;
	    width: 100%;
	    left: 0px;
	}
	.form_download{
		position: relative;
	}
	.dwnld{
		position:absolute;
		top: 140px;
		left: 0px;
		width:100%;
	}
	.no_pad p{
		margin-bottom: 10px;
	    margin-top: 10px;
	}
}
@media (min-width: 481px) and (max-width: 767px){
	.submit {
	    background-color: #ff931e;
	    border-radius: 20px;
	    font-size: 14px;
	    left: 250px;
	    top: 810px;
	    margin: 40px;
	    padding: 5px 50px;
	    position: absolute;
	    text-align: center;
	}
	.frame_subtitle {
	    font-size: 20px;
	    left: 250px;
	    position: absolute;
	    top: 155px;
	}
	.dwnld {
	    left: 185px;
	    position: absolute;
	    top: 345px;
	    width: 55%;
	}
	input[type="text"]{
		height: 35px;
		width: 100%;
	}
}

@media (min-width: 768px) and (max-width: 991px){
	.submit {
	    background-color: #ff931e;
	    border-radius: 20px;
	    font-size: 14px;
	    left: 225px;
	    top: 670px;
	    margin: 40px;
	    padding: 5px 50px;
	    position: absolute;
	    text-align: center;
	}
	.frame_subtitle {
	    color: #755e58;
	    font-family: Times New Roman;
	    font-size: 28px;
	    left: 5px;
	    position: relative;
	    top: 100px;
	    width: 100%;
	}
	.form_download{
		position: relative;
	}
	.dwnld{
		left: 178px;
	    position: absolute;
	    top: 150px;
	    width: 100%;
	}
	.no_pad p{
		margin-bottom: 10px;
	    margin-top: 10px;
	}
	input[type="text"]{
		height: 35px;
		width: 100%;
	}
	.breadcrumb {
	    left: 250px;
	    margin: 20px;
	    padding: 10px;
	    position: relative;
	    text-align: center;
	    top: 80px;
	    width: 27%;
	}
	.breadcrumb-w > span,
	.breadcrumb-w ul li span,
	.breadcrumb-w ul li a{
	  font-size: 12px;
	  color: #614a42;
	}	
}
@media (min-width: 992px) and (max-width: 1199px){
	.frame_subtitle {
	    color: #755e58;
	    font-family: Times New Roman;
	    font-size: 45px;
	    left: 5px;
	    position: relative;
	    top: 80px;
	    width: 100%;
	}
	.form_download{
		position: relative;
	}
	.dwnld{
		left: 220px;
	    position: absolute;
	    top: 110px;
	    width: 100%;
	}
	.no_pad p{
		margin-bottom: 10px;
	    margin-top: 10px;
	}
	.submit {
	    background-color: #ff931e;
	    border-radius: 20px;
	    font-size: 14px;
	    left: 320px;
	    top: 670px;
	    margin: 40px;
	    padding: 5px 50px;
	    position: absolute;
	    text-align: center;
	}
	input[type="text"]{
		height: 45px;
		width: 50%;
	}
	.breadcrumb {
	    left: 480px;
	    margin: 20px;
	    padding: 10px;
	    position: relative;
	    text-align: center;
	    top: 50px;
	    width: 50%;
	}
}
/*****eND OF aRTICLE*****/


/*******Download Article*******/
@media (min-width: 320px) and (max-width: 767px){
	.title_download {
		color: #755e58;
	    font-family: Times New Roman;
	    font-size: 18px;
	    left: 0;
	    position: relative;
	    top: 150px;
	}
	.article_form{
		left: 0;
	    position: absolute;
	    top: 200px;
	    width: 100%;	
	}
	.telecharger_dwnld{
	    background-color: #ff931e;
	    border-radius: 20px;
	    font-size: 14px;
	    left: 0px;
	    margin: 40px;
	    padding: 10px 25px;
	    position: absolute;
	    text-align: center;
	}
}
@media (min-width: 481px) and (max-width: 767px){
	.article_form {
	    left: 25px;
	    position: absolute;
	    top: 200px;
	    width: 100%;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.title_download{
	    color: #755e58;
	    font-family: Times New Roman;
	    font-size: 28px;
	    left: 5px;
	    position: relative;
	    top: 100px;
	    width: 100%;
	}
	.article_form{
		left: 180px;
	    position: absolute;
	    top: 150px;
	    width: 100%;
	}
	.telecharger_dwnld{
	    background-color: #ff931e;
	    border-radius: 20px;
	    font-size: 14px;
	    left: 0px;
	    margin: 40px;
	    padding: 10px 25px;
	    position: absolute;
	    text-align: center;
	}
}
@media (min-width: 992px) and (max-width: 1199px){
	.title_download{
	    color: #755e58;
	    font-family: Times New Roman;
	    font-size: 45px;
	    left: 5px;
	    position: relative;
	    top: 80px;
	    width: 100%;
	}
	.article_form{
		left: 220px;
	    position: absolute;
	    top: 110px;
	    width: 100%;
	}
	.telecharger_dwnld{
	    background-color: #ff931e;
	    border-radius: 20px;
	    font-size: 18px;
	    left: 100px;
	    margin: 0px;
	    padding: 10px 25px;
	    position: relative;
	    text-align: center;
	    width: 30%;
	}
}
/*****eND OF Download Article*****/

/*****List Article*****/
@media (min-width: 320px) and (max-width: 767px){
	.article_title {
		color: #755e58;
	    font-family: Times New Roman;
	    font-size: 18px;
	    left: 0;
	    position: relative;
	    top: 150px;
	}
	.list-articles{
		position:absolute;
		top: 200px;
		left: 0px;
		width: 100%;
	}
	.article_name > textarea{
		width: 100%
	}
	.article_email > textarea{
		width: 100%;
	}
	.telecharger{
	    background-color: #ff931e;
	    border-radius: 20px;
	    font-size: 14px;
	    left: 45px;
	    margin: 5px;
	    padding: 5px 30px;
	    position: absolute;
	    text-align: center;
	}
}
@media (min-width: 481px) and (max-width: 767px){
	.list-articles {
	    left: 25px;
	    position: absolute;
	    top: 200px;
	    width: 100%;
	}
	.telecharger {
	    left: 150px;
	    margin: 5px;
	    padding: 5px 30px;
	    position: absolute;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.article_title{
	    color: #755e58;
	    font-family: Times New Roman;
	    font-size: 28px;
	    left: 5px;
	    position: relative;
	    top: 100px;
	    width: 100%;
	}
	.list-articles{
		left: 180px;
	    position: absolute;
	    top: 150px;
	    width: 100%;
	}
	.article_name > textarea{
		width: 100%
	}
	.article_email > textarea{
		width: 100%;
	}
	.telecharger{
	    background-color: #ff931e;
	    border-radius: 20px;
	    font-size: 14px;
	    left: 65px;
	    margin: 5px;
	    padding: 5px 50px;
	    position: absolute;
	    text-align: center;
	}
}
@media (min-width: 992px) and (max-width: 1199px){
	.article_title{
	    color: #755e58;
	    font-family: Times New Roman;
	    font-size: 45px;
	    left: 5px;
	    position: relative;
	    top: 80px;
	    width: 100%;
	}
	.list-articles{
		left: 220px;
	    position: absolute;
	    top: 110px;
	    width: 100%;
	}
	.article_name > textarea{
		width: 50%
	}
	.article_email > textarea{
		width: 50%;
	}
	.telecharger{
	    background-color: #ff931e;
	    border-radius: 20px;
	    font-size: 18px;
	    left: 100px;
	    margin: 0px;
	    padding: 10px 25px;
	    position: relative;
	    text-align: center;
	    width: 30%;
	}
}
/*****eND OF List Article*****/.

